body {
	background-color: red;
	margin: 0;
}
#container {
	margin: 0;
	width: 100vw;
	height: 93vh;
	background-color: blue;
}
#footer {
	margin: 0;
	width: 100vw;
	height: 7vh;
	background-color: green;
}
.footer_box {
	float: left;
	width:18%;
	height: 100%;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
	display: flex;
}
#footer_how_it_works {
	background-color: brown;
}
#footer_home {
	background-color: yellow;
}